

<!--

<ul>
	<li>Avg Points: <b><%= @sprdint_count_round %></b></li>
	<li>Avg Hours: <b><%= @sprint_hours_round %></b></li>
	<li>Avg Bugs: <b><%= @sprint_bugs_round %></b></li>
</ul>

   <html>
	  <head>
	    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	    <script type="text/javascript">	
		
	google.load('visualization', '1', {'packages': ['corechart']});
	google.setOnLoadCallback(drawChart);

	function drawChart() {
	    var data = new google.visualization.DataTable();
	    data.addColumn('string', 'Sprint');
	    data.addColumn('number', 'Completed Points');
	    data.addColumn('number', 'Hours');
	    data.addRows([
		
			<% @sprint.each do |sprint| %>
	          ["<%= sprint.sprint %>", <%= sprint.completed_pts %>,<%= sprint.hours %>],
			<% end %>
	    ]);
	
		var result = google.visualization.data.sum(
		  data,
		  [1],
		  [{'column': 2, 'aggregation': google.visualization.data.sum, 'type': 'number'}]
		);
				
	    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
	    chart.draw(data, {
	        width: 1200,
	        height: 600,
			legendTextStyle: {color:'#666666'},
			hAxis: {title: 'Sprints',
			        titleTextStyle: {color: '#5c5c5c'},
			        titlePosition: 'in'},
	        colors: ['#552988', '#e69500'],
			title: 'Developer Sprint Velocity -- Average Completed Pts: <%= @sprint_count_round %>  / Hours: <%= @sprint_hours_round %> / Bugs: <%= @sprint_bugs_round %>' ,
	        series: {
	            0: {targetAxisIndex: 0},
	            1: {targetAxisIndex: 1}
	        },
	        vAxes: {
	            0: {
	                minValue: 0,
	                maxValue: 50,
	                title: 'Completed Points',
					titleTextStyle: {color: '#5c5c5c'},
		            titlePosition: 'out'
	            },
	            1: {
	                minValue: 0,
	                maxValue: 300,
	                title: 'Hours',
					titleTextStyle: {color: '#5c5c5c'},
		            titlePosition: 'out'
	            }
	        }
	    });
	}
</script>	


    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 1000px; height: 500px;"></div>
  </body>
</html>

--> 