<div>
    <h5><%= @pro2.name  %> (<%= @pro2.notes  %>)</h5>
	<% @tasks2.each do |task2| %>
	<dl class="m-sts">
		<td>
			<% if task2.name == 'QA In Progress:'  %>
			<% elsif task2.name == 'Ready For QA:' %>
			<% elsif task2.name == 'Not Started:' %>
			<% elsif task2.name == 'In Progress:' %>
			<% elsif task2.name == 'Blocked:' %>
			<% elsif task2.name == 'Ready For Code Review:' %>
			<% elsif task2.name == 'Stories:' %>
			<% elsif task2.completed == true %>
			<img src="/assets/orange-check-mark.png" alt="true" width="15" height="15">  
			<% elsif task2.completed == false %>
			<img src="/assets/black_x.png" alt="false" width="15" height="15">
			<% end %>
		</td>	
		<td>
			<% if task2.name == 'QA In Progress:'  %>
			<b><%= task2.name %></b>
			<% elsif task2.name == 'Ready For QA:' %>
			<b><%= task2.name %></b>
			<% elsif task2.name == 'Not Started:' %>
			<b><%= task2.name %></b>
			<% elsif task2.name == 'Ready For Code Review:' %>
			<b><%= task2.name %></b>
			<% elsif task2.name == 'In Progress:' %>
			<b><%= task2.name %></b>
			<% elsif task2.name == 'Blocked:' %>
			<b><%= task2.name %></b>
			<% elsif task2.name == 'Stories:' %>
			<b><%= task2.name %></b>
			<% else %>
			<%= task2.name %>
			<% end %>
		</td>
	</dl>	
	<% end %>       
	<div style="clear:both"></div>	  
</div>