<div>     	  
	<h5><%= @pro1.name  %> (<%= @pro1.notes  %>)</h5>
	<% @tasks1.each do |task1| %>
	<dl class="m-sts">
		<td>
			<% if task1.name == 'QA In Progress:'  %>
			<% elsif task1.name == 'Ready for QA:' %>
			<% elsif task1.name == 'Not Started:' %>
			<% elsif task1.name == 'In Progress:' %>
			<% elsif task1.name == 'Blocked:' %>
			<% elsif task1.name == 'Ready for Code Review:' %>
			<% elsif task1.name == 'Deltas:' %>
			<% elsif task1.name == 'Deploy Tasks:' %>
			<% elsif task1.completed == true %>
			<img src="/assets/orange-check-mark.png" alt="true" width="15" height="15">  
			<% elsif task1.completed == false %>
			<img src="/assets/black_x.png" alt="false" width="15" height="15">
			<% end %>
		</td>	
		<td>
			<% if task1.name == 'QA In Progress:'  %>
			<b><%= task1.name %></b>
			<% elsif task1.name == 'Ready for QA:' %>
			<b><%= task1.name %></b>
			<% elsif task1.name == 'Not Started:' %>
			<b><%= task1.name %></b>
			<% elsif task1.name == 'In Progress:' %>
			<b><%= task1.name %></b>
			<% elsif task1.name == 'Blocked:' %>
			<b><%= task1.name %></b>
			<% elsif task1.name == 'Ready for Code Review:' %>
			<b><%= task1.name %></b>
			<% elsif task1.name == 'Stories:' %>
			<b><%= task1.name %></b>
			<% elsif task1.name == 'Deltas:' %>
			<b><%= task1.name %></b>
			<% elsif task1.name == 'Deploy Tasks:' %>
			<b><%= task1.name %></b>
			<% else %>
			<%= task1.name %>
			<% end %>
		</td>
	</dl>	
	<% end %>
	<div style="clear:both"></div>	  
</div>